{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <h1  class="text-center">I <i class="bi-heart link-danger"></i> Maxfields</h1>
    <div class="row">
        {% for maxfield in maxfields %}
            <div class="col-8">{{ maxfield.name }}</div>
            <div class="col-4">
                <a href="{{ path('maxfield_show', {'id': maxfield.id})}}">Show</a>
            </div>
        {% else %}
            You don't have any maxfields yet :(
        {% endfor %}
    </div>
{% endblock %}
